@import 'tailwindcss';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#root {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 12px;
	padding: 15px;
	background-color: black;
	padding-bottom: 30px;
}
